html{
    font-family: 'Roboto';
}
header{
    background-color: #1f2937;
}
.header{
    display: flex;
    justify-content: space-around;
}
body{
    display: flex;
    flex-direction: column;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    color:#e5e7eb;
    font-size: 18px;
    justify-content: space-around;
    gap: 8px;
    margin: 0;
    padding: 0;
    color: #e5e7eb;
    font-size:18px;
}

.hero{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
}

.placeholder{
    background-color: #e5e7eb;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.hero p{
    color: #e5e7eb;
    font-size: 18px;
}

.hero .placeholder p{
    color: black;
    font-size: 18px;
}

button{
    background-color: #3882f6;
    border-radius: 5px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
}